$font-family: 'Montserrat', Arial, sans-serif;
$font-family-main:'Proxima Nova' , Arial, sans-serif;
$font-family-title: 'Tungsten-Book', Arial, sans-serif;

$main-color-text: #616161;
$add-color: #191f22;
$hover-color-main: #196a96;

$leptop-hd: 1440px;
$leptop: 1367px;
$screen-xl: 1280px;
$tablet-album: 1024px;
$screen-lg: 992px;
$tablet: 768px;
$mobile-large: 767px;
$mobile-medium: 667px;
$mobile-small: 40em;
$iphone6s: 414px;
$iphone6: 375px;
$iphone5: 320px;

$m-gutter: 1.688rem;
